$font-family-sans-serif: sans-serif;

$font-family-base: var(--bs-font-sans-serif);

$white: #fff;
$primary: rgba(39, 0, 60);
$secondary: rgb(255, 169, 0);

$navbar-dark-color: $white;
$navbar-dark-hover-color: $secondary;